{% extends 'base.html.twig' %}

{% block body %}
    <a style="background-color: #8fff2f">all payed money for this object</a>
    <a style="background-color: #ff5d09"> {{ sum }}</a>

{% endblock %}

{% block stylesheets %}

{% endblock %}

