{% extends 'base.html.twig' %}

{% block body %}
    <a style="background-color: #8fff2f ">payed money for all objects are :</a>
    <a style="background-color: #ff5d09">{{ allMoneyPayed }}</a>


{% endblock %}

{% block stylesheets %}

{% endblock %}

